{% extends 'partials/base.html' %}
{% load static %}


{% block main %}


<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Criar usuário Active Directory</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mt-3 me-2">
      <a href="{% url 'home' %}"><button type="button"
          class="btn btn-primary">Voltar</button></a>
    </div>
  </div>
</div>
<div class="container-fluid">
  <form action="{% url 'criarscript' %}" class="myformuser" method="POST">
    {% csrf_token %}
    <input class="form-control countField" name="countField" id="countField" type="text" value=1 style="display: none;" >
    <div class="field_wrapper">
      <div class="row">
        <div class="col-3 m-1">
          <input class="form-control " type="text"
          name="field_nome[0]" value=""
          placeholder="Nome completo" required="required"/>
        </div>
        <div class="col-2 m-1">
          <input class="form-control " type="text"
            name="field_email[0]" value=""
            placeholder="nome.sobrenome" required="required"/>
        </div>
        <div class="col-1 m-1" id="id_field_uo">
          <select class="form-control" id="field_uo" name="field_uo[0]">
              {% for unidade in query_unidade %}
                <option  type="text"
                  value='{{ unidade.numeroUo }}'>{{ unidade.nomeUo }}</option>
              {% endfor %}
          </select>
        </div>
        <div class="col-2 m-1">
          <select class="form-control" name="field_tipo[0]"
            aria-label=".form-select-lg example"
            id="tipodefuncionario" required="required">
            <option selected value="funcionario">Funcionário</option>
            <option value="estagiario">Estagiário</option>
            <option value="pj">PJ</option>
            <option value="temporario">Temporário</option>
            <option value="aprendiz">Aprendiz</option>
          </select>
        </div>
        <div class="col-1 m-1">
          <select class="form-control"
            name="field_licenca[0]"
            aria-label=".form-select-sm example"
            id="tipodelicenca">
            <option selected value="lica1">LIC-A1</option>
            <option value="lica3" >LIC-A3</option>
          </select>
        </div>
        <div class="col-2 m-1" id="datacontrato[0]" >
          <input  type="date" id="datacontrato" class="form-control"
            name="field_data_contrato[0]" data-date-format="DD/MM/YYYY"
            placeholder="Data do contrato" style="display: none;">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-12 text-center m-3 ">
        <a href="javascript:void(0);"
          class="remove_button btn btn-danger"
          title="Remove field">Remover linha</a>
        <a href="javascript:void(0);"
          class="add_button btn btn-primary"
          title="Add field">Adicionar linha</a>
        <button id="btnOc" type="submit"
          class="create_script_django btn btn-dark"
          title="Add script">Criar script ps1</a>
        </button>
      </div>
    </div>
    <div class="row">
      {% if messages %}
        <div class="alert alert-success" role="alert">
          <ul class="messages">
            <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
            <a>Usuários</a>
            {% for message in messages %}
              {% if 'success' in message.tags %}<li>{{ message }}</li>{% endif %}
            {% endfor %}
            <br>
            <a>Aliases</a>
            {% for message in messages %}
              {% if 'info' in message.tags %}<li>{{ message }}</li>{% endif %}
            {% endfor %}
            <br>
          </ul>
        </div>
      {% endif %}
    </div>
  </form>
</div>

{% endblock %}