{% extends 'partials/base.html' %}
{% load static %}


{% block main %}


<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Criar usuário Active Directory</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mt-3 me-2">
      <a href="{% url 'home' %}"><button type="button" class="btn btn-primary">Voltar</button></a>
    </div>
  </div>
</div>
<div class="container-fluid">

  <div class="col-12">
    <form action="{% url 'criarScript' %}" method="POST">
      {% csrf_token %}
      <div class="form-group mt-3">
        <label for="exampleFormControlInput1">Nome do funcionário</label>
        <input class="form-control" type="text" name="fullname" placeholder="Insira o nome completo do funcionário">
      </div>
      <div class="form-group mt-3">
        <label for="exampleFormControlInput1">Endereço de email</label>
        <input type="email" class="form-control" name="email" id="exampleFormControlInput1"
          placeholder="name@example.com">
      </div>
      <div class="form-group mt-3">
        <label for="exampleFormControlSelect1">Número da UO</label>
        <select class="form-control" name="numberunity" id="exampleFormControlSelect1">
          <option>Escolha uma opção</option>
          <option>1 - GTI </option>
          <option>2 - GEI</option>
          <option>3 - CECAM</option>
          <option>4 - CAMPO LIMPO</option>
          <option>5 - PIRACICABA</option>
        </select>
      </div>
      <div class="form-group mt-3">
        <label for="tipodefuncionario">Tipo de funcionário</label>
        <select class="form-control" aria-label=".form-select-lg example" id="tipodefuncionario">
          <option selected value="1">Funcionário</option>
          <option value="2">Estagiário</option>
          <option value="3">Temporário</option>
        </select>
      </div>
      <div class="form-group mt-3 licenca">
        <label for="tipodelicenca">Tipo de licença</label>
        <select class="form-control" aria-label=".form-select-sm example" id="tipodelicenca">
          <option selected value="1">LIC-A1</option>
          <option value="2" name="lica3">LIC-A3</option>
        </select>
      </div>
      <div class="form-group mt-3 datacontrato" style="display: none;">
        <label for="datacontrato" class="dateinput">Data do contrato</label>
        <input class="form-control" type="text" name="datacontrato" placeholder="Insira a data do contrato">
      </div>

      <div class="row ">
        <div class="col-12 text-center m-3 ">
          <a href="{% url 'home' %}" class=" center custom-width-6 m-5">Limpar</a>
          <button id="btnOc" type="submit" class="btn btn-primary">Criar script ps1</button>
        </div>
      </div>
    </form>
  </div>
</div>
<input class="form-control" id="disabledInput" type="text" placeholder="
Grupos inseridos automaticamente de acordo com a UO escolhida" disabled>
<input class="form-control" id="disabledInput" type="text" placeholder="
Proxyaddresses inserido automaticamente" disabled>
<input class="form-control" id="disabledInput" type="text" placeholder="
Senha com padrão aleatório ou o estabelecido anteriormente" disabled>
<input class="form-control" id="disabledInput" type="text" placeholder="
Descrição de temporário/Estagiário inserido automaticamente" disabled>



{% endblock %}