{% extends 'partials/base.html' %}

{% load static %}


{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Sistemas</h1>
</div>


<div>
    <div class="row">
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Cadastro de usuário AD</h5>
                    <p class="card-text">Sistema de script para criação de usuário AD</p>
                    <a href="{% url 'criausuario' %}" class="btn btn-primary custom-width-6">Entrar</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Transferência de usuário AD</h5>
                    <p class="card-text">Sistema de script para transferência de usuário AD</p>
                    <a href="{% url 'criausuario' %}" class="btn btn-primary custom-width-6">Entrar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}