{% load static  %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Atendimento GTI</title>
  <!-- Favicon-->
  <link href="https://intrasesc.sescsp.org.br/o/intrasesc-theme/images/favicon.ico" rel="icon">
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet" />
  <link href="{% static 'custom/css/custom.css' %}" rel="stylesheet">

</head>

<body class="sb-sidenav-toggled">
  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <a href="{% url 'home' %}"><div class="sidebar-heading border-bottom bg-light"> <img  src="{% static '/custom/img/sescLogo.png' %}" height="25" > </div></a>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'home' %}">Página inicial</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{% url 'lista_uo' %}">Lista de UOs</a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <button class="btn btn-primary" id="sidebarToggle">Menu</button>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
              <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">Home</a></li>
              <li class="nav-item"><a class="nav-link" target="_blank" href="http://intranet.sescsp.org.br/">Intrasesc</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Administração</a>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  {% if user.is_superuser %}                  
                    <a class="dropdown-item" href="/admin">Painel Administração</a>
                  {% endif %}  
                  {% if user.is_authenticated %}
                    <a class="dropdown-item" href="#"><strong>Usuário: {{user.username}}</strong></a>
                    <a class="dropdown-item" href="/accounts/logout/">Logout</a>
                  {% else %}
                    <a class="dropdown-item" href="/accounts/login">Login</a>
                  {% endif %}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Page content-->
      <div class="container-fluid">
        {% block main %}
        {% endblock %}
      </div>
    </div>
  </div>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/jquery/jquery.js' %}"></script>
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'custom/js/custom.js' %}"></script>
</body>

</html>
